/* Custom Font icons
--------------------------------------------------------------------------------
*/

$font-path: "../fonts";
$icons-font-path: "../fonts";

@font-face {
    font-family: "icons";
    src: url("#{$icons-font-path}/icons.eot");
    src:
        url("#{$icons-font-path}/icons.eot?#iefix") format("eot"),
        url("#{$icons-font-path}/icons.woff2") format("woff2"),
        url("#{$icons-font-path}/icons.woff") format("woff"),
        url("#{$icons-font-path}/icons.ttf") format("truetype"),
        url("#{$icons-font-path}/icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}
