[class^="icon-"], [class*=" icon-"], %g-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon($filename, $insert: before) {
  &:#{$insert} {
    @extend %g-icon;
    
    content: icon-char($filename);
  }
}

@function icon-char($filename) {
$char: "";

@if $filename == angle-arrow-down {
  $char: "\E001";
}
@if $filename == arrow-down {
  $char: "\E002";
}
@if $filename == arrow-left {
  $char: "\E003";
}
@if $filename == arrow-right {
  $char: "\E004";
}
@if $filename == arrow-up {
  $char: "\E005";
}
@if $filename == back-arrow {
  $char: "\E006";
}
@if $filename == email {
  $char: "\E007";
}

@return $char;
}

.icon-angle-arrow-down {
@include icon(angle-arrow-down);
}
.icon-arrow-down {
@include icon(arrow-down);
}
.icon-arrow-left {
@include icon(arrow-left);
}
.icon-arrow-right {
@include icon(arrow-right);
}
.icon-arrow-up {
@include icon(arrow-up);
}
.icon-back-arrow {
@include icon(back-arrow);
}
.icon-email {
@include icon(email);
}